/* General */

.dash-wrapper {
  height: 100vh;
  display: flex;
}

.dashboard-navigation {
  width: 180px;
  background-color: #111135;
  color: #fff;
}

.dashboard-view {
  overflow: auto;
  width: calc(100vw - 180px);

}

.mock-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-view::-webkit-scrollbar {
  display: none;
}

/* Nav bar */
.navbar-container > a {
  text-decoration: none;
}

.active-navlink > div {
  width: 100%;
  background-color: #2196f3;
}

.navlink-wrapper {
  height: 72px;
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  color: #fff;
  margin: auto;
}

.navlink-wrapper > span {
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.navlink-icon {
  margin: 3px;
}


/* Listing Card */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 36vw;
  height: 360px;
  margin: 18px;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  background-color: #dadada;
  background-image:url("./assets/images/house1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.image-container{
  width: 180px;
  height: 108%;

}

.content-container {
 width: 90%;
 height: 36%;
 overflow: hidden;
 padding: 7px 7px 0px 7px;
 display: flex;
 flex-direction: column;
 /*align-items: center;*/
 background-color: #ecececbf;
 justify-content: space-around;
}

.content-container > div {
  padding-top: 3px;
}

.subheading-container{
  display: flex;
  justify-content: space-between;
}

.price-text {
  margin: 0px;
}

.selling-price-text {
  font-size: 11px;
}

.description-container > p {


}

.address-text {
  margin: 3px;
  margin-top: 7px;
  font-weight: 400;
  font-size: 18px;
}

.status-text {
  font-weight: bold;
}

.card-description-line {
  text-align: center;
  font-size: 11px;
  font-weight: 200;
  padding: 3px;

}

.card-footer {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  position: absolute;
  bottom: 0px;
}


.avatar-container {
  border: 1px solid #ffffff8c;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
  color: #fff;
  font-size: small;
  background-color: #b3b3b3;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px;
}

/* List page */

.listings-options-container {
  margin: 18px 18px 3px 18px;
}

.lo-button {
  margin: 7px;
  background: #ebebeb8a;
  padding: 3px 7px 3px 7px;
}


.lo-button-image {
  height: 10px;
  width: 10px;
  margin-left: 3px;
}


.list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}


/* Responsiveness */

@media only screen and (max-width: 1000px) {
  .card-container {
    width: 54vw;
  }

  .list-container {
    justify-content: center;
  }
}

